################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Northboundei.Mobile.zip
/obj
/bin/Debug
